<html>
    <head>
    <link rel="stylesheet" type="text/css" href="css/debt.css">
    </head>
    <body style="text-align: center;">
        <h1>Monthly Report - {{summary.0.year}}/{{summary.0.month}}</h1>
        <table>
            <thead>
                <tr>
                <td>User ID</td>
                <td>User Name</td>
                <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
                <td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
                <td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td>
                <td>19</td><td>20</td><td>21</td><td>22</td><td>23</td><td>24</td>
                <td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td><td>31</td>
                <td>Net Weight</td>
                <td>Amount</td>
                </tr>
            </thead>
            <tbody>
            {{#each summary}}
            <tr>
                <td>{{uid}}</td>
                <td>{{name}}</td>
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                <td>{{kilos}}</td>
                <td>{{amount}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </body>
</html>